<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lkcoffee.mapper.UserMapper">

    <select id="selectByPhoneNumberAndPwd" resultType="com.lkcoffee.pojo.UserVo">
        SELECT u.*,
               r.`name` as role_name,
               r.`code` as role_code
        FROM (`user` u LEFT JOIN user_role ur ON u.id = ur.user_id)
                 LEFT JOIN role r ON ur.role_id = r.id
        WHERE u.tel = #{phoneNumber}
          AND u.`password` = #{password}
    </select>


    <select id="selectByPhoneNumber" resultType="com.lkcoffee.pojo.UserVo">
        SELECT u.*,
               r.`name` as role_name,
               r.`code` as role_code
        FROM (`user` u LEFT JOIN user_role ur ON u.id = ur.user_id)
                 LEFT JOIN role r ON ur.role_id = r.id
        WHERE u.tel = #{phoneNumber}
    </select>


    <select id="selectById" resultType="com.lkcoffee.pojo.UserVo">
        SELECT r.`code` AS role_code
        FROM (`user` u LEFT JOIN user_role ur ON u.id = ur.user_id)
                 LEFT JOIN role r ON ur.role_id = r.id
        WHERE u.id = #{id}
    </select>

    <update id="updateAva">
        UPDATE `luckin_coffee`.`user` SET `avatar` = #{pic_url}  WHERE `id` = #{user_id};
    </update>


</mapper>
